<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i style="color: #244855;" class="fa-brands fa-square-facebook"></i>
            <i style="color: #244855;" class="fa-brands fa-square-instagram"></i>
            <i style="color: #244855;" class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; LodgingSpot Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>